{% extends 'navbar.html' %} {% load static %}
{% block content2 %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a href="{% url 'dashboard' %}"><img src="{% static '/images/logo.png' %}" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'dashboard' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>

        </div>
    </div>


</nav>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>

{% endblock content2 %}


