{% extends 'navbar.html' %} {% load static %}
{% block content2 %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a href="{% url 'dashboard' %}"><img src="{% static '/images/logo.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        {% if request.user.is_staff %}
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'dashboard' %}"><i class="fas fa-chart-line fa-lg"></i> Dashboard</a>
            <a class="nav-item nav-link" href="{% url 'products' %}"><i class="fab fa-product-hunt fa-lg"></i> Products</a>

        </div>
        {% endif %}
    </div>


    <ul class="navbar-nav ml-auto">
        <li id="profile-name"><a class="nav-link" href="{% url 'user-page' %}"><i class="fas fa-user-tie fa-lg"></i> {{ request.user }} </a></li>
        <li><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-lg"></i> Log Out</a></li>

        {% if not request.user.is_authenticated %}

        <li><a class="nav-link" href="{% url 'register' %}"><i class="fas fa-sign-in-alt fa-lg"></i></span> Sign Up</a></li>
        <li><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a></li>

        {% endif %}
    </ul>

</nav>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>

{% endblock content2 %}


