{% extends 'base.html' %} {% load static %}
{% block title %} Order Form {% endblock title %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="post">
                <h3>Customer: {{ customer }}</h3>
                <br>
                {% csrf_token %}
                {{ formset.management_form }}
                {% for field in formset %}
                {{field }}
                <hr>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock content %}