{% extends 'base.html' %} {% load static %}
{% block title %} store {% endblock title %}

{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-3">
        <hr>
        <img width="254" height="350" src="{{ product.image_url}}" alt="">
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <small>{{product.author }}</small>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <a href="" class="btn btn-outline-success">View</a>
            <h5 style="display: inline-block; float: right">{{ product.price| floatformat }} ৳</h5>
        </div>
    </div>


    {% endfor %}

</div>


{% endblock content %}