{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block content %}
<h1>Student Info</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Pass Date</th>
        <th>Marks</th>
    </tr>
    </thead>
    <tbody>
    {% for data in student_data %}
    <tr>
        <td>{{ data.id}}</td>
        <td>{{ data.name}}</td>
        <td>{{ data.roll}}</td>
        <td>{{ data.city}}</td>
        <td>{{ data.pass_date}}</td>
        <td>{{ data.marks}}</td>
        <td></td>
        <td></td>
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock content %}