<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
        background-color: black;
        color: seashell
        }
    </style>
</head>
<body>
<!--    <h3>Django summary: {{nm | upper}}</h3>-->
<!--    <h3>Django summary: {{nm | lower}}</h3>-->
<!--    <h3>Django summary: {{nm | capfirst}}</h3>-->
<!--    <h3>Django summary: {{nm | default:'Nothing'}}</h3>-->
<!--    <h3>Django summary: {{nm | length }}</h3>-->

<!--    <h3>Django summary: {{nm | truncatechars:3 }}</h3>-->
    <h3>Django summary: {{nm | truncatewords:3 }}</h3>



</body>
</html>