{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Sign Up</h3>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text"> It's quick and easy</p>

  </div>
</div>

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for form in forms %}
        {{ form.label_tag }}
        <p>{{form}}</p>
        <small class="text-danger">{{ form.errors|striptags }}</small>
        {% endfor %}

        <input type="submit" value="Sign Up" class="btn btn-primary" >
  </form>

     {% if forms.non_field_errors %}
            {% for error in forms.non_field_errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

  {% if messages %}
      {% for message in messages %}

<!--            <span class="{{ message.tags }}"> {{ message }}</span>-->
<!--            <span  {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }}</span>-->
            <p  {% if message.tags %} class="alert-{{ message.tags }}" {% endif %} > {{ message }}</p>

      {% endfor %}
    {% endif %}

{% endblock content %}