{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>

    <div class="row text-white mb-5">
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px;">
                Do you have any Question? Don't hesitate. Feel free to contact us.
            </p>

        </div>
        <div class="col-sm-8">

            <form>
                <div class="row">
                    <div class="col">
                        <label>First name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col">
                        <label>Last name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>

        </div>

        <div class="col-sm-4 text-center  mb-10">
            <i class="fas fa-map-marker-alt  mb-3" style='font-size:26px;color:chartreuse'></i>
            <p>Banani, Dhaka</p>
        </div>


        <div class="col-sm-8">

            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Your Subject</label>
                    <input type="text" class="form-control" id="formGroupExampleInput">
                </div>
            </form>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fas fa-phone  mb-3" style='font-size:26px;color:chartreuse'></i>
            <p>00293935655</p>
        </div>


        <div class="col-sm-8">

            <form>
                <div class="form-group">
                    <label for="colFormLabelLg">Your Subject</label>
                    <input type="text" class="form-control form-control-lg" id="colFormLabelLg">
                </div>
            </form>
        </div>

        <div class="col-sm-4 text-center  mb-3">
            <i class="fas fa-envelope" style='font-size:26px;color:chartreuse'></i>
            <p>00293935655</p>
        </div>
        <div class="col-sm-8"><button type="button" class="btn btn-success">Send</button></div>

    </div>


</div>

</div>

</div>

{% endblock content %}